<!DOCTYPE html>
<div  class="insta_btn">
<div  class="insta">
<div  class="fab fa-instagram">


<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="title.css" />
    <title>つぶやき</title>
  </head>
  <body>
    <!-- header -->
    <header>
      <h1 class="headline">
        <a>Feeds</a>
      </h1>
    </header>
  </body>
</html>

<h1>
  <div class="bg_pattern Diagonal"></div>
  Log in
</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>
<% end %>

  <footer>
<ul class="footer-menu">
  <li>about ｜</li>
  <li>service ｜</li>
  <li>Contact Us</li>
</ul>
<p>© All rights reserved by xxx.</p>
</footer>
</body>

</div>
</div>
</div>

</html>
